<!DOCTYPE html>
<html>
  <head>
    <title>MakersBnB</title>
    <!--
            Head to https://github.com/makersacademy/web-applications/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
    <link rel="stylesheet" href="/style.css"/>
    <!-- Latest compiled and minified CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>

   <!-------------------     Navigation Bar            ------------->

    <nav class="navbar navbar-expand-md bg-light navbar-light">
      <div class="d-flex container-fluid justify-content-between">
        <a class="navbar-brand" href="/">
          <img
            src="https://drive.google.com/uc?export=view&id=1yKjePXHyNiM6WW9D3QVKNfXwWzaIH_s7"
            alt="Avatar Logo"
            style="width: 100px"
            class="rounded-circle"
          />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="main-nav"
          aria-controls="main-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-end align-center"
          id="main-nav"
        >
          <ul class="navbar-nav">
            <li class="nav-item ms-2 d-none d-md-inline">
              <a class="nav-link" href="#">Sign Up</a>
            </li>
            <li class="nav-item ms-2 d-none d-md-inline">
              <a class="nav-link" href="/login">Log In</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <p></p>
    

      <!-------------------     Search bar             ------------->
      <!-------------------  Add listing button        ------------->

    
    <section
      class="mb-5 d-flex justify-content-center align-items-center container-fluid px0"
    >
      <div class="form-outline mb-3 input-group rounded" style="width: 30rem">
        <input
          type="search"
          class="form-control form-control-sm rounded"
          placeholder="Find somewhere to stay..."
          aria-label="Search"
          aria-describedby="search-addon"
        />
        <span class="input-group-text border-0" id="search-addon">
          <a href="#"><i class="fas fa-search"></i></a>
        </span>

        <a href="/add">
         <button type="button" class="btn btn-danger mx-4"> Add New Listing</button> 
        </a>
      </div>
    </section>
    
    <!-------------------     Display all listings        ------------->

    <% @all.map do |listing_hash| %>

    <section class="d-flex justify-content-center">
      <div class="card col-md-2 mx-4" style="width: 18rem">
        <img src=<%="#{listing_hash[:image_url]}"%> class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title"><%= listing_hash[:name] %></h5>
          <p class="card-text">
            Price: £<%= listing_hash[:price_per_night] %>
          </p>
           <p class="card-text">
           <%= listing_hash[:description] %>
          </p>
          <a href="/listing/<%= listing_hash[:id]%>" class="btn btn-outline-danger">View Listing</a>
        </div>
      </div>

      <% end %>
    </section>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>


